<div class="container">
<h2 md-dialog-title>{{commentAccomodation.Name}}</h2>
  <div *ngFor= "let comment of commentAccomodation.Comments" >
<md-card class="acc-dialog">
  <md-card-header>
    <md-card-title>User : </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
     <md-list-item> Text: {{comment.Text}} </md-list-item>
     <md-list-item> Grade: {{comment.Grade}}</md-list-item>
  </md-list>
  
  </md-card-content>
  <md-card-actions>
   
  </md-card-actions>
</md-card>
  </div>
  <div class="container">
  <md-card class="acc-dialog">
    <md-card-header>
    <md-card-title>Leave comment : </md-card-title>
    </md-card-header>
    <md-card-content>
    <app-comment-add [AccId]="commentAccomodation.Id"> </app-comment-add>
    </md-card-content>
  </md-card>
  </div>
</div>