<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let place of places">
        <td>{{place.Id}}</td>
        <td>{{place.Name}}</td>
        <td><button (click)="editClick(place)">Edit</button></td>
        <td><button (click)="delete(place)">Delete</button></td>
    </tr>
    
</table>
<a [routerLink]="['/place-add']">Add Place</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-place-edit [eCountry] = "place" (notifyParent)="getNotification($event)"></app-place-edit>
</div>