<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let country of countries">
        <td>{{country.Id}}</td>
        <td>{{country.Name}}</td>
        <td>{{country.Code}}</td>
        <td><button (click)="editClick(country)">Edit</button></td>
        <td><button (click)="delete(country)">Delete</button></td>
    </tr>
    
</table>
<a [routerLink]="['/country-add']">Add Country</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-country-add [eCountry] = "country"></app-country-add>
</div>