<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th *ngIf="adminRole==true">Edit</th>
        <th *ngIf="adminRole==true">Delete</th>
    </thead>
    <tr *ngFor="let country of countries">
        <td>{{country.Id}}</td>
        <td>{{country.Name}}</td>
        <td>{{country.Code}}</td>
        <td *ngIf="adminRole==true"><button  (click)="editClick(country)">Edit</button></td>
        <td *ngIf="adminRole==true"><button  (click)="delete(country)">Delete</button></td>
    </tr>
    
</table>
<a *ngIf="adminRole==true" [routerLink]="['/country-add']">Add Country</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-country-edit [eCountry] = "country" (notifyParent)="getNotification($event)"></app-country-edit>
</div>