<div class="container">
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && saveReservation(f.value,f)"  novalidate>
      <div>
          <label for="startDate">Start date:</label>
          <input ngui-datetime-picker date-only="false" #StartDate = "ngModel"
           [(ngModel)]='nReservation.startDate' name="StartDate" required/>
           <div *ngIf="f.submitted && !StartDate.valid">StartDate is required</div>
      </div>
      <div>
          <label for="endDate">End date:</label>
      <input ngui-datetime-picker  date-only="false" #EndDate = "ngModel" 
      [(ngModel)]='nReservation.endDate' name="EndDate" required/>
      <div *ngIf="f.submitted && !EndDate.valid">EndDate is required</div>
      </div>
        <button md-raised-button color="primary" type="submit">Reserve</button>
  </form>
</div>
