<div>
  <div  class="example-card"  *ngFor="let acc of accommodations"  >
    <md-card *ngIf="(adminRole == true) || (managerRole == true && acc.agentId == userManagerId)" class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{acc.name}} </md-card-title>
        <md-card-subtitle><a class='kinda-link' (click)="locationClick(acc)">Location: {{acc.address}} </a> 
        </md-card-subtitle>
        <md-card-subtitle>
          Stars : {{acc.stars}}
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image src={{acc.imageUrls[0]}} (click) = "detailsDialog(acc)"/>
      <md-card-content>
        <p>
        Opis: {{acc.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button *ngIf="(managerRole == true) || (adminRole == true)"  md-raised-button color="primary" (click) = "editAccNewDialog(acc)">Edit</button>
        <button *ngIf="(managerRole == true) || (adminRole == true)" md-raised-button color="warn" (click) = "delete(acc)">Delete</button>
        <button *ngIf="userUndefined==false" md-raised-button color="primary" (click) = "reservationsDialog(acc)">Reservations</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<span *ngIf="(adminRole == true) || (managerRole == true && managerActive == true)" class="done">
    <button md-fab (click) = "openAccNewDialog()" >
    <md-icon>New</md-icon>
    </button>
</span>

<!-- <span class="search">
    <button md-fab (click) = "openSearchDialog()" >
    <md-icon>
        <div md-card-avatar class="searchImage"></div>
     </md-icon>
    </button>
</span> -->