<div class="example-card"  *ngFor="let acc of accommodations"  >
   
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{acc.Name}} </md-card-title>
    <md-card-subtitle>{{acc.Place.Name}} > {{acc.Place.Region.Name}} > {{acc.Place.Region.Country.Name}}
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/vila1.jpg">
  <md-card-content>
    <p>
    Opis: {{acc.Description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click) = "editAccNewDialog(acc)">Edit</button>
    <button md-raised-button color="warn" (click) = "delete(acc)">Delete</button>
  </md-card-actions>
</md-card>


    
</div>






<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>AverageGrade</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ImageURL</th>
        <th>AccommodationType</th>
        <th>Place</th>
        <th>Approved</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let accommodation of accommodations">
        <td>{{accommodation.Id}}</td>
        <td>{{accommodation.Name}}</td>
        <td>{{accommodation.Description}}</td>
        <td>{{accommodation.Address}}</td>
        <td>{{accommodation.AverageGrade}}</td>
        <td>{{accommodation.Latitude}}</td>
        <td>{{accommodation.Longitude}}</td>
        <td>{{accommodation.ImageURL}}</td>
        <td>{{accommodation.AccommodationType.Name}}</td>
        <td>{{accommodation.Place.Name}}</td>
        <td>{{accommodation.Approved}}</td>
        <td><button (click)="editClick(accommodation)">Edit</button></td>
        <td><button (click)="delete(accommodation)">Delete</button></td>
    </tr>
    
</table>
<a [routerLink]="['/accommodation-add']">Add Accomodation</a>
<router-outlet></router-outlet>
<!--<div *ngIf="editFlag==true">
    <app-accommodation-edit [eAccommodation] = "accommodation" (notifyParent)="getNotification($event)"></app-accommodation-edit>
</div> -->

<span class="done">
    <button md-fab (click) = "openAccNewDialog()" >
    <md-icon>New</md-icon>
    </button>
       
</span>