<table border="1">
    <thead>
        <th>Name</th>
        <th *ngIf="adminRole==true">Edit</th>
    </thead>
    <tr *ngFor="let accomodationType of accomodationTypes">
        <td>{{accomodationType.name}}</td>
        <td *ngIf="adminRole==true"><button (click)="editClick(accomodationType)">Edit</button></td>
    </tr>
    
</table>
<a *ngIf="adminRole==true" [routerLink]="['/accomodation-type-add']">Add AccomodationType</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-accomodationtype-edit [eAccomodationType] = "accomodationType" (notifyParent)="getNotification($event)"></app-accomodationtype-edit>
</div>