<div class="addDialog">
  <h1 md-dialog-title>Add Accomodation</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && saveAccommodation(f.value,f)"  novalidate>
      <div>
          <md-input-container>
          <input mdInput type="text" placeholder="Name" name="name" [(ngModel)]="nAccommodation.name" #Name="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !name.valid">Name is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Description" type="text" name="description" [(ngModel)]="nAccommodation.description" #description="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !description.valid">Description is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="City" name="city" [(ngModel)]="nAccommodation.address.city" #city="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !city.valid">City is required</div>
      </div>
      <div>
        <md-input-container>
         <input mdInput type="text" placeholder="Street" name="street" [(ngModel)]="nAccommodation.address.street" #street="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !street.valid">Street is required</div>
     </div>
     <div>
        <md-input-container>
         <input mdInput type="text" placeholder="Country" name="country" [(ngModel)]="nAccommodation.address.country" #country="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !country.valid">Country is required</div>
     </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="Latitude" [readonly] = "true" name="latitude" [(ngModel)]="nAccommodation.address.latitude" #latitude="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !latitude.valid">Latitude is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="longitude" [readonly] = "true" name="longitude" [(ngModel)]="nAccommodation.address.longitude" #longitude="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !longitude.valid">Longitude is required</div>
      </div>
      <div>
            <button type="button" md-raised-button color="primary" (click)="openMapAdd()">Set location</button>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" [readonly] = "true" placeholder="ImageURL" name="ImageURL" [(ngModel)]="nAccommodation.ImageURL" #ImageURL="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !ImageURL.valid">ImageURL is required</div>
      </div>
      <div>
            <button type="button" style="margin: 15px;" md-raised-button color="primary" (click)="openChooseImagesDialog()">Choose Image</button>
      </div>
      <div>
        <md-select style="margin: 15px;" [(ngModel)]="nAccommodation.AccommodationType_Id" name="AccommodationType_Id"  #AccommodationTypeId="ngModel" 
        placeholder="AccomodationType" required>
            <md-option *ngFor="let accommodationType of accommodationTypes" [value]="accommodationType.Id">
                {{accommodationType.Name}}
            </md-option>
        </md-select>
        <div *ngIf="f.submitted && !AccommodationTypeId.valid">Accommodation Type is required</div>
      </div>
      <div>
        <md-select style="margin: 15px;"  [(ngModel)]="nAccommodation.Place_Id" name="Place_Id" #placeId="ngModel" placeholder="Place" required>
            <md-option *ngFor="let place of places" [value]="place.Id">
                {{place.Name}}
            </md-option>
        </md-select>
        <div *ngIf="f.submitted && !placeId.valid">Place is required</div>
      </div>
        <button md-raised-button color="primary" type="submit">Save</button>
  </form>
</div>

