<div class="addDialog">
  <h1 md-dialog-title>Add Accomodation</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && saveAccommodation(f.value,f)"  novalidate>
      <div>
          <md-input-container>
          <input mdInput type="text" placeholder="Name" name="Name" [(ngModel)]="nAccommodation.Name" #Name="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !Name.valid">Name is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Description" type="text" name="Description" [(ngModel)]="nAccommodation.Description" #Description="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !Description.valid">Description is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="Adress" name="Address" [(ngModel)]="nAccommodation.Address" #Address="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !Address.valid">Address is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="Latitude" name="Latitude" [(ngModel)]="nAccommodation.Latitude" #Latitude="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !Latitude.valid">Latitude is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="Longitude" name="Longitude" [(ngModel)]="nAccommodation.Longitude" #Longitude="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !Longitude.valid">Longitude is required</div>
      </div>
      <div>
         <md-input-container>
          <input mdInput type="text" placeholder="ImageURL" name="ImageURL" [(ngModel)]="nAccommodation.ImageURL" #ImageURL="ngModel" required />
         </md-input-container>
          <div *ngIf="f.submitted && !ImageURL.valid">ImageURL is required</div>
      </div>
      <div>
        <md-select [(ngModel)]="nAccommodation.AccommodationType_Id" name="AccommodationType_Id"  #AccommodationTypeId="ngModel" 
        placeholder="AccomodationType" required>
            <md-option *ngFor="let accommodationType of accommodationTypes" [value]="accommodationType.Id">
                {{accommodationType.Name}}
            </md-option>
        </md-select>
        <div *ngIf="f.submitted && !AccommodationTypeId.valid">Accommodation Type is required</div>
      </div>
      <div>
        <md-select  [(ngModel)]="nAccommodation.Place_Id" name="Place_Id" #placeId="ngModel" placeholder="Place" required>
            <md-option *ngFor="let place of places" [value]="place.Id">
                {{place.Name}}
            </md-option>
        </md-select>
        <div *ngIf="f.submitted && !placeId.valid">Place is required</div>
      </div>
        <button md-raised-button color="primary"  type="submit">Save</button>
  </form>
</div>

