<div class="addDialog">
  <h1 md-dialog-title>Add Room</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && saveRoom(f.value,f)"  novalidate>
      <div>
          <md-input-container>
          <input mdInput type="number" placeholder="Room Number" name="RoomNumber" [(ngModel)]="nRoom.RoomNumber" #RoomNumber="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !RoomNumber.valid">RoomNumber is required</div>
      </div>
      <div>
          <md-input-container>
          <input mdInput type="number" placeholder="Bed Count" name="BedCount" [(ngModel)]="nRoom.BedCount" #BedCount="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !BedCount.valid">BedCount is required</div>
      </div>
      <div>
        <md-input-container>
          <input mdInput type="text" placeholder="Description" name="Description" [(ngModel)]="nRoom.Description" #Description="ngModel" required  />
        </md-input-container>
          <div *ngIf="f.submitted && !Description.valid">Description is required</div>
      </div>
      <div>
           <md-input-container>
          <input mdInput type="number" placeholder="Price Per Night" name="PricePerNight" [(ngModel)]="nRoom.PricePerNight" #PricePerNight="ngModel" required />
           </md-input-container>
          <div *ngIf="f.submitted && !PricePerNight.valid">PricePerNight is required</div>
      </div>
        <button md-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
