<table border="1">
    <thead>
        <th>Id</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Timestamp</th>
        <th>Room</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let roomres of roomReservations">
        <td>{{roomres.Id}}</td>
        <td>{{roomres.StartDate | date : format : timezone }}</td>
         <td>{{roomres.EndDate | date : format : timezone }}</td>
        <td>{{roomres.Timestamp}}</td>
        <td>{{roomres.Room.RoomNumber}}</td>
        <td><button (click)="editClick(roomres)">Edit</button></td>
        <td><button (click)="delete(roomres)">Delete</button></td>
    </tr>
    
</table>
<a [routerLink]="['/room-reservation-add']">Add Room Reservation</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-room-reservation-edit [eRoomReservation] = "roomreservation" (notifyParent)="getNotification($event)"></app-room-reservation-edit>
</div>