<md-toolbar layout="row" layout-align="center center"  color="warn">
   <div class="title">
  <h2 >Booking App</h2>
   </div>
  <span class="example-spacer"></span>
  <div class="divlog">
  <button class="example-icon" md-raised-button color="primary" > Login</button>
  </div>
  <div class="divreg">
  <button class="example-icon" md-raised-button color="primary"> Register</button>
 </div>
</md-toolbar>

<md-tab-group>
  <md-tab label=Countries>Countries </md-tab>
  <md-tab label=Places>Content 2</md-tab>
  <md-tab label=Accomodations>Content 2</md-tab>
  <md-tab label=AccomodationTypes>Content 2</md-tab>
  <md-tab label=Comments>Content 2</md-tab>
  <md-tab label=Regions>Content 2</md-tab>
  <md-tab label=Roomreservations>Content 2</md-tab>
  <md-tab label=Rooms>Content 2</md-tab>
</md-tab-group>

<br/>
<a [routerLink]="['/country']">Countries</a>
<a [routerLink]="['/place']">Places</a>
<a [routerLink]="['/accomodation']">Accomodations</a>
<a [routerLink]="['/accomodation-type']">AccomodationTypes</a>
<a [routerLink]="['/comment']">Comments</a>
<a [routerLink]="['/region']">Regions</a>
<a [routerLink]="['/room-reservation']">Roomreservations</a>
<a [routerLink]="['/room']">Rooms</a>
<router-outlet></router-outlet>

