<md-toolbar   color="warn">
  
  <span >Booking App</span>

  <span class="example-spacer"></span>
    <div class="divlog" *ngIf="!isLoggedIn">
        <button class="example-icon" md-raised-button color="primary" (click)="openLoginDialog()"> Login</button>
    </div>
    <div class="divreg" *ngIf="!isLoggedIn">
        <button class="example-icon" md-raised-button color="primary" (click)="openRegistrationDialog()"> Register</button>
    </div>
    <div class="divuser" *ngIf="isLoggedIn">
        <button md-button title="Edit profile">{{username}}</button>
    </div>
    <div class="divlout" *ngIf="isLoggedIn">
        <button class="example-icon" md-raised-button color="primary" (click)="logout()"> Log Out</button>
    </div>
</md-toolbar>


    <nav md-tab-nav-bar >
        <div class="nav_bar">
            <a md-tab-link [routerLink]="['/accomodation']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Accommodations</a>
        </div>
        <div class="nav_bar">
            <a md-tab-link *ngIf="adminRole==true" [routerLink]="['/accomodation-type']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Accommodation Types</a>
        </div>
        <div class="nav_bar">
            <a *ngIf="adminRole==true" md-tab-link [routerLink]="['/accomodation-services']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Accomodation Services</a>
        </div>
        <div class="nav_bar">
            <a *ngIf="adminRole==true" md-tab-link [routerLink]="['/managers']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Managers</a>
        </div>
    </nav>
 
 <router-outlet></router-outlet>
