<div class="addDialog">
    <h1 md-dialog-title>Edit Accomodation</h1>
    <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && editAccommodation(f.value,f)"  novalidate>
        <div>
            <md-input-container>
            <input mdInput type="text" placeholder="Name" name="name" [(ngModel)]="eAccommodation.name" #name="ngModel" required />
            </md-input-container>
            <div *ngIf="f.submitted && !name.valid">Name is required</div>
        </div>
        <div>
          <md-input-container>
          <input  mdInput placeholder="Description" type="text" name="description" [(ngModel)]="eAccommodation.description" #description="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !description.valid">Description is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Autumn Price" type="number" name="autumnPrice" [(ngModel)]="eAccommodation.autumnPrice" #autumnPrice="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !autumnPrice.valid">Autumn Price is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Summer Price" type="number" name="summerPrice" [(ngModel)]="eAccommodation.summerPrice" #summerPrice="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !summerPrice.valid">Summer Price is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Spring Price" type="number" name="springPrice" [(ngModel)]="eAccommodation.springPrice" #springPrice="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !springPrice.valid">Spring Price is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Winter Price" type="number" name="winterPrice" [(ngModel)]="eAccommodation.winterPrice" #winterPrice="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !winterPrice.valid">Winter Price is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Stars" type="number" name="stars" [(ngModel)]="eAccommodation.stars" #stars="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !stars.valid">Stars is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Number Of Cancellation Days" type="number" name="numberOfCancellationDays" [(ngModel)]="eAccommodation.numberOfCancellationDays" #numberOfCancellationDays="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !numberOfCancellationDays.valid">Number Of Cancellation Days is required</div>
      </div>
      <div>
          <md-input-container>
          <input  mdInput placeholder="Number Of People" type="number" name="numberOfPeople" [(ngModel)]="eAccommodation.numberOfPeople" #numberOfPeople="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !numberOfPeople.valid">Number Of People is required</div>
      </div>
        <div>
           <md-input-container>
            <input mdInput type="text" placeholder="City" name="city" [(ngModel)]="eAccommodation.address.city" #city="ngModel" required />
           </md-input-container>
            <div *ngIf="f.submitted && !city.valid">City is required</div>
        </div>
        <div>
          <md-input-container>
           <input mdInput type="text" placeholder="Street" name="street" [(ngModel)]="eAccommodation.address.street" #street="ngModel" required />
          </md-input-container>
           <div *ngIf="f.submitted && !street.valid">Street is required</div>
       </div>
       <div>
          <md-input-container>
           <input mdInput type="text" placeholder="Country" name="country" [(ngModel)]="eAccommodation.address.country" #country="ngModel" required />
          </md-input-container>
           <div *ngIf="f.submitted && !country.valid">Country is required</div>
       </div>
        <div>
           <md-input-container>
            <input mdInput type="text" placeholder="Latitude" [readonly] = "true" name="latitude" [(ngModel)]="eAccommodation.address.latitude" #latitude="ngModel" required />
           </md-input-container>
            <div *ngIf="f.submitted && !latitude.valid">Latitude is required</div>
        </div>
        <div>
           <md-input-container>
            <input mdInput type="text" placeholder="Longitude" [readonly] = "true" name="longitude" [(ngModel)]="eAccommodation.address.longitude" #longitude="ngModel" required />
           </md-input-container>
            <div *ngIf="f.submitted && !longitude.valid">Longitude is required</div>
        </div>
        <div>
              <button type="button" md-raised-button color="primary" (click)="openMapAdd()">Set location</button>
        </div>
        <div>
           <md-input-container>
            <input mdInput type="text" [readonly] = "true" placeholder="ImageURL" name="imageUrls" [(ngModel)]="eAccommodation.imageUrls" #imageUrls="ngModel" required />
           </md-input-container>
            <div *ngIf="f.submitted && !imageUrls.valid">ImageURL is required</div>
        </div>
        <div>
              <button type="button" style="margin: 15px;" md-raised-button color="primary" (click)="openChooseImagesDialog()">Choose Image</button>
        </div>
        <div>
          <md-select style="margin: 15px;" [(ngModel)]="eAccommodation.accomodationTypeId" name="accomodationTypeId"  #accomodationTypeId="ngModel" 
          placeholder="AccomodationType" required>
              <md-option *ngFor="let accommodationType of accommodationTypes" [value]="accommodationType.id">
                  {{accommodationType.name}}
              </md-option>
          </md-select>
          <div *ngIf="f.submitted && !accomodationTypeId.valid">Accommodation Type is required</div>
        </div>
      <button md-raised-button color="primary" type="submit">Save</button>
    </form>
  </div>
  
  