<div class="container">
    <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && saveRating(f.value,f)"  novalidate>
         <div>
            <input type="hidden" name="Id" [(ngModel)]="AccId" #Id="ngModel"/>
        </div>
        <div>
           <md-input-container>
            <input mdInput type="text" placeholder="Text" name="comment" [(ngModel)]="nRating.comment" #comment="ngModel" required />
           </md-input-container>
            <div *ngIf="f.submitted && !comment.valid">Text is required</div>
        </div>
         <div>
          <md-select  [(ngModel)]="nRating.overallRating" name="overallRating" #overallRating="ngModel" placeholder="Rating" required>
              <md-option *ngFor="let num of numbers" [value]="num">
                  {{num}}
              </md-option>
          </md-select>
        </div>
        <button md-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
