<div class="container">
  <h1>Edit</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && editRegion(f.value,f)"  novalidate>
      <div>
          <label for="name">Name:</label>
          <input type="text" name="Name" [(ngModel)]="eRegion.Name" #Name="ngModel" required />
          <div *ngIf="f.submitted && !Name.valid">Name is required</div>
      </div>
      <div>
        <label for="region">Region:</label>
        <select  [(ngModel)]="eRegion.Country_Id" name="Country_Id" #Country="ngModel" required>
            <option *ngFor="let country of countries" [value]="country.Id">
                {{country.Name}}
            </option>
        </select>
        <div *ngIf="f.submitted && !Country.valid">Country is required</div>
      </div>
        <button type="submit">Edit</button>
  </form>
</div>

