<div class="container">
  <h1>Edit Country</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && editCountry(f.value,f)"  novalidate>
      <div>
          <input type="hidden" name="Id" [(ngModel)]="eCountry.Id" #name="ngModel"/>
      </div>
      <div>
          <label for="name">Name:</label>
          <input type="text" name="Name" [(ngModel)]="eCountry.Name" #name="ngModel" required />
          <div *ngIf="f.submitted && !name.valid">Name is required</div>
      </div>
      <div>
          <label for="code">Code:</label>
          <input type="text" name="Code" [(ngModel)]="eCountry.Code" #code="ngModel" required />
          <div *ngIf="f.submitted && !code.valid">Code is required</div>
      </div>
      <button type="submit">Edit</button>
     </form>
</div>
