<div class="container">
  <h1>Register</h1>
  <form type="form" #f="ngForm" (ngSubmit)="f.form.valid && registerUser(f.value,f)"  novalidate>
      <div>
          <input type="text" placeholder="Username" name="Username" [(ngModel)]="nUser.Username" #Username="ngModel" required />
          <div *ngIf="f.submitted && !Username.valid">Username is required</div>
      </div>
      <div>
          <input type="password" placeholder="Password" name="Password" [(ngModel)]="nUser.Password" #Password="ngModel" required />
          <div *ngIf="f.submitted && !Password.valid">Password is required</div>
      </div>
      <div>
          <input type="password" placeholder="Confirm Password" name="ConfirmPassword" [(ngModel)]="nUser.ConfirmPassword" #ConfirmPassword="ngModel" required />
          <div *ngIf="f.submitted && !ConfirmPassword.valid">Confirm Password is required</div>
      </div>
      <div>
          <input type="email" placeholder="Email" name="Email" [(ngModel)]="nUser.Email" #Email="ngModel" required />
          <div *ngIf="f.submitted && !Email.valid">Email is required</div>
      </div>
        <button type="submit">Register</button>
  </form>
</div>

