<div class="container">
  <h1 md-dialog-title>Register</h1>
  <form type="form" #f="ngForm" (ngSubmit)="registerUser(f.value,f)"  novalidate>
      <div>
          <md-input-container>
          <input mdInput type="text" placeholder="Username" name="username" [(ngModel)]="nUser.username" #username="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !username.valid">Username is required</div>
      </div>
      <div>
          <md-input-container>
          <input mdInput type="password" placeholder="Password" name="password" [(ngModel)]="nUser.password" #password="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !password.valid">Password is required</div>
      </div>
      <div>
        <md-input-container>
        <input mdInput type="text" placeholder="First name" name="firstName" [(ngModel)]="nUser.firstName" #firstName="ngModel" required />
        </md-input-container>
        <div *ngIf="f.submitted && !firstName.valid">FirstName is required</div>
    </div>
    <div>
        <md-input-container>
        <input mdInput type="text" placeholder="Last name" name="lastName" [(ngModel)]="nUser.lastName" #lastName="ngModel" required />
        </md-input-container>
        <div *ngIf="f.submitted && !lastName.valid">LastName is required</div>
    </div>
      <!-- <div>
          <md-input-container>
          <input mdInput type="password" placeholder="Confirm Password" name="ConfirmPassword" [(ngModel)]="nUser.ConfirmPassword" #ConfirmPassword="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !ConfirmPassword.valid">Confirm Password is required</div>
      </div> -->
      <div>
          <md-input-container>
          <input  mdInput type="email" placeholder="Email" name="email" [(ngModel)]="nUser.email" #email="ngModel" required />
          </md-input-container>
          <div *ngIf="f.submitted && !email.valid">Email is required</div>
      </div>
      <div *ngIf="addManager == true">
        <md-input-container>
         <input mdInput type="text" placeholder="PIB" name="pib" [(ngModel)]="nUser.pib" #pib="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !pib.valid">PIB is required</div>
     </div>
      <div *ngIf="addManager == true">
        <md-input-container>
         <input mdInput type="text" placeholder="City" name="city" [(ngModel)]="nUser.city" #city="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !city.valid">City is required</div>
     </div>
     <div *ngIf="addManager == true">
       <md-input-container>
        <input mdInput type="text" placeholder="Street" name="street" [(ngModel)]="nUser.street" #street="ngModel" required />
       </md-input-container>
        <div *ngIf="f.submitted && !street.valid">Street is required</div>
    </div>
    <div *ngIf="addManager == true">
       <md-input-container>
        <input mdInput type="text" placeholder="Country" name="country" [(ngModel)]="nUser.country" #country="ngModel" required />
       </md-input-container>
        <div *ngIf="f.submitted && !country.valid">Country is required</div>
    </div>
     <div *ngIf="addManager == true">
        <md-input-container>
         <input mdInput type="text" placeholder="Latitude" [readonly] = "true" name="latitude" [(ngModel)]="nUser.latitude" #latitude="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !latitude.valid">Latitude is required</div>
     </div>
     <div *ngIf="addManager == true">
        <md-input-container>
         <input mdInput type="text" placeholder="Longitude" [readonly] = "true" name="longitude" [(ngModel)]="nUser.longitude" #longitude="ngModel" required />
        </md-input-container>
         <div *ngIf="f.submitted && !longitude.valid">Longitude is required</div>
     </div>
     <div *ngIf="addManager == true">
           <button type="button" md-raised-button color="primary" (click)="openMapAdd()">Set location</button>
     </div>
      <!-- <div>
        <md-select style="margin: 15px;" ngModel name="Role" #role="ngModel" placeholder="Role" required>
            <md-option value="AppUser">User</md-option>
            <md-option value="Manager">Manager</md-option>
        </md-select>
        <div *ngIf="f.submitted && !role.valid">Role is required</div>
      </div> -->
        <button md-raised-button color="primary" type="submit">Register</button>
  </form>
</div>

