<table border="1">
    <thead>
        <th>Id</th>
        <th>Grade</th>
        <th>Text</th>
        <th>Accomodation</th>
        <th>Edit </th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let comment of comments">
        <td>{{comment.Id}}</td>
        <td>{{comment.Grade}}</td>
        <td>{{comment.Text}}</td>
        <td>{{comment.Accomodation}}</td>
        <td><button (click)="editClick(comment)">Edit</button></td>
        <td><button (click)="delete(comment)">Delete</button></td>
    </tr>
    
</table>
<a [routerLink]="['/comment-add']">Add Comment</a>
<router-outlet></router-outlet>
<div *ngIf="editFlag==true">
    <app-comment-edit [eComment] = "comment" (notifyParent)="getNotification($event)"></app-comment-edit>
</div>